{% extends "wishes/layout.html" %}
{% load static %}

{% block body %}
<ul>
    <li>Aquí se verá la descripción completa de los votos</li>
    <li>Se verán las opciones con nombre, descripción y voto si las hay</li>
    <li>Se realizará la votación</li>
    <li>Una vez realizado el voto, la página redirigirá a otra página donde se podrá ver cómo va la votación</li>
    <li>se editará , borraran y cerraran votaciones</li>
</ul>
<h1>{{user}} Elige una opción para este voto: {{vote.nameVote}}</h1>
<div class="card" style="width: 40rem; position: relative; top: 0; left: 25%;">
    <div class="card-body">
        {% if vote.imageVote %}
            <img style="width: 20rem; position: relative; top: 0; left: 22%;" src="{{ vote.imageVote.url }}" alt="imageVote">
        {% else %}
            No image available.
        {% endif %}
        <p>{{vote.description}}</p>
        <form method="post" action="{% url 'voting_view' vote.id %}">
            {% csrf_token %}
            {% for option in vote.options.all %}
                <li class="list-group-item">
                    <label>
                        <input type="radio" name="selected_option" value="{{ option.id }}">
                        <strong>{{ option.option_text }}</strong> 
                        <br>{{ option.description_vote }}<br>
                        {% if option.image_description %}
                            <img style="width: 20rem;" src="{{ option.image_description.url }}" alt="image_description">
                        {% else %}
                           
                        {% endif %}
                    </label>
                </li>
            {% endfor %}
            
            <button type="submit">Votar</button>
            
        </form>
        <button onclick="window.location.href='{% url 'inprogress' %}'">Back</button>

    </div>

</div>
{% endblock %}
