{% extends "wishes/layout.html" %}
{% load static %}

{% block body %}
<ul>
    <li>En esta página se verán todas las votaciones creadas por los usuarios que estén abiertas</li>
    <li>También se hará click en las votaciones y te llevará a otra página donde se pueda ver la descripción del voto y se pueda votar</li>
    <li>Si la votación está cerrada, se verá el día en que se cerró la votación y el ganador</li>
</ul>
<h6>User: {{ user }}</h6>

{% if allvote %}
    <h1>Votaciones en curso</h1>
    {% for vote in allvote %}
        {% if vote.status == 'closed' %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">{{ vote.nameVote }}</h2>
                    {% if vote.imageVote %}
                        <img style="width: 20rem; position: relative; top: 0; left: 22%;" src="{{ vote.imageVote.url }}" alt="imageVote">
                    {% else %}
                        No image available.
                    {% endif %}
    
                    <p>Votacion cerrada</p>
                    <a href="{% url 'more_votes' vote.id %}">Ver ganador</a>
                </div>
            </div>
        {% else %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="{% url 'description' vote.id %}">
                        <img style="width:15rem;" src="{{ vote.get_image_url }}" alt="imageVote">
                        <h2 class="card-title">{{ vote.nameVote }}</h2>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <h1>No hay ninguna votación abierta por el momento</h1>
{% endif %}
{% endblock %}
