{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Votos{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'wishes/loyout.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/register.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/profile.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/vote.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/edit_vote.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/description.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/more_votes.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/voting_results.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/in_progress.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/new_survey.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/login.css'%}" type="text/css">
        <link rel="stylesheet" href="{% static 'wishes/register.css'%}" type="text/css">
        




        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.0/css/bootstrap.min.css">



        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/d57822588a.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        
    </head>
    <body>
      <div class="nav1">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" style=" font-family: system-ui;font-size:20px; color:black;font-weight: bold;"href="{% url 'index' %}">I<span class="check">&#x2713;</span>OTE</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img src="" alt=""></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' user_id=user.id %}">profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inprogress' %}">In progress</a>
            </li>

          </ul>
          <span class="navbar-text">
          sjs
          </span>
        </div>
      </nav>
    </div>
          {% block body %}
              
          {% endblock %}
    </body>
</html>

</nav>
