{% extends "wishes/layout.html" %}
{% load static %}

{% block body %}
    {% if more_votes %}
        <h1>Resultado del voto</h1>
        {% for vote_option in more_votes %}
            {% if forloop.first %}
                <div class="card" style="width: 40rem; position: relative; top: 0; left: 25%;">
                    <div class="card-body">
                        {% if vote_option.image_description %}
                            <img style="width: 20rem;" src="{{ vote_option.image_description.url }}" alt="image_description">
                        {% else %}
                            No image available.
                        {% endif %}
                        <h2>{{ vote_option.option_text }}</h2>
                        <p>Votos: {{ vote_option.count }}</p>
                    </div>
                </div>
            {% else %}
                <div class="card" style="width: 40rem; position: relative; top: 0; left: 25%; margin-top: 20px;">
                    <div class="card-body">
                        {% if vote_option.image_description %}
                            <img style="width: 20rem;" src="{{ vote_option.image_description.url }}" alt="image_description">
                        {% else %}
                            No image available.
                        {% endif %}
                        <h2>{{ vote_option.option_text }}</h2>
                        <p>Votos: {{ vote_option.count }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1>No hay votos cerrados</h1>
    {% endif %}
{% endblock %}
