{% extends "wishes/layout.html" %}
{% load static %}
{% block body %}
<span>{{ user }}</span>
<ul>
  <li>ESTA PAGINA TIENEN QUE QUEDAR DIVIDA EN 3 VER MIS VOTACIONES CREADAS</li>
  <li>Crear Votacion</li>
  <li>Ver estadisticas</li>
</ul>
<a href="{% url 'vote'%}"> Ver tus votaciones creadas |</a>
<a href=""> Ver tus estadisticas |</a>
<a href="{% url 'my_choose'%}"> Ver tu participacion de votaciones</a>
<h1>Crea tu encuesta aquí:</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="jumbotron" style="max-width: 600px;width=100%; align-items:center;">
      <div class="form-control">
        <label for="nameVote"><strong>Nombre de la votación</strong></label>
        <input type="text" name="nameVote" placeholder="Nombre de la votación" />
      </div>
      <div class="form-group">
        <label for="description"><strong>Descripción de la encuesta:</strong></label>
        <textarea class="form-control" id="description" name="description">{{ user.profile.description }}</textarea>
      </div>
      <div class="form-group">
        <label for="imageVote"><strong>Selecciona una imagen:</strong></label>
        <input type="file" class="form-control-file" name="imageVote" />
      </div>
      <div class="form-group" id="vote-options">
        <label for="option"><strong>Opciones de voto:</strong></label>
        <input type="text" name="option_text[]" placeholder="Nombre de la opción" />
        <textarea class="form-control" name="description_vote" placeholder="Descripción de la opción del voto"></textarea>

        <label for="image_description"><strong>Selecciona una imagen:</strong></label>
        <input type="file" class="form-control-file" name="image_description" />
      </div>
    </div>   
      <button type="button" id="add-option-btn" class="btn btn-secondary">+ opciones</button>

      <button type="submit" class="btn btn-dark">Guardar cambios</button>
   
</form>

<script>
  document.getElementById("add-option-btn").addEventListener("click", function () {
    var voteOptions = document.getElementById("vote-options");
    var newOption = document.createElement("div");
    newOption.className = "form-group";
    newOption.innerHTML =
      '<input type="text" name="option_text[]" placeholder="Nombre de la opción" />' +
      '<textarea class="form-control" name="description_vote" placeholder="Descripción de la opción del voto"></textarea>' +
      '<label for="image_description"><strong>Selecciona una imagen:</strong></label>' +
      '<input type="file" class="form-control-file" name="image_description" />';
    voteOptions.appendChild(newOption);
  });
</script>

{% endblock %}
