{% extends "wishes/layout.html" %}
{% load static %}

{% block body %}
    <ul>
        <li>En esta página se mostrarán las votaciones que has creado. Solo aparecerán el nombre y la imagen.</li>
        <li>También podrás modificar las encuestas.</li>
    </ul>
    <h1>Tus votaciones creadas</h1>

    {% if votes_user %}
        <div class="card-group">
            {% for vote in votes_user %}
                <a href="{% url 'voting_results' vote.id %}">
                    <div class="card" style="width: 40rem; position: relative; top: 0;">
                        <div class="card-body">
                            <h1 class="card-title">{{ vote.nameVote }}</h1>
                            {% if vote.imageVote %}
                                <img style="width: 20rem; position: relative; top: 0; left: 22%;" src="{{ vote.imageVote.url }}" alt="imageVote">
                            {% else %}
                                No image available.
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% if vote.is_closed %}
                    <a href="{% url 'voting_results' vote.id %}">Ver resultado</a>
                {% else %}
                    <form method="post" action="{% url 'change_status' vote.id %}">
                        {% csrf_token %}
                        <button type="submit">Cerrar voto</button>
                    </form>
                {% endif %}
                
                <form method="post" action="{% url 'deleteVote' vote_id=vote.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                <a href="{% url 'edit_vote' vote_id=vote.id %}">Edit</a>
            {% endfor %}
        </div>
    {% else %}
        <h1>No tienes votaciones creadas.</h1>
    {% endif %}
{% endblock %}
