.wave {
  width: 100%;
  margin: 0 auto; /* Centra horizontalmente el elemento dentro de su contenedor */
  display: flex; /* Utiliza flexbox para ajustar el ancho */
  background-size: cover;
}

.img-card-vote{
  
    width: 210px;
    height: 210px;
    position: absolute;
    top:9%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.249);
    

}
.options-vote {
  display: inline-flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  vertical-align: top;
 

}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  
  
}
.list-group{ 
 
  display: inline-block;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  width: 300px;
  background-color: rgba(137, 43, 226, 0.226);
  border-radius: 30px;
  padding: 10px;



}
.list-group:hover{
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.543);
  cursor:pointer;
  ;
}

.list-group input[type="radio"]:checked ~ .name-option-vt {
  font-weight: bold; 
  color: rgba(40, 37, 37, 0.219);

}

.list-group input[type="radio"]:checked ~ .name-option-vt::before {
  content: "✔ "; 
}
.name-vote--body{
  display: grid;
  place-items: center;
  font-size: 40px;
  margin-top: -10px;
  z-index: 1;
  

}
.contain{
  margin-top: -190px;
  
}
.result-img-ds{
  width: 230px;
  border-radius: 20px;
}
.list-vote-1{
  text-align: center;
  margin-top: 70px;

}
.name-option-vt{
 font-size: 30px;
 color:rgba(0, 0, 0, 0.82)
}
.warning {
  background-color: rgba(240, 231, 231, 0.374);
  border-radius: 30px;
  font-size: 20px;
  width: 355px;
  height: 105px;
  text-align: center;
  position: relative;
  top: -20px;
  margin-left: 30px;
  padding: 30px;
}

.warning-svg{
  width: 30px;
}
.warning-close{
  width: 30px;
  position: relative;
  top: -120px;
  margin-left: 345px;
  display: none;
}


.btn-option-ds{
  width: 200px;
  margin: 0 auto;
  transform: translateX(20%);
}

.card-body{
  opacity: 2%;
}


.code-vote {
  background-color: rgba(0, 0, 0, 0.791);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  position: fixed;
  scroll-margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 700px;
  height: 40vh;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.314);
  opacity: 95%;
  overflow: hidden;
}

.code-container {
  display: flex; /* Agrega esta propiedad para centrar el contenido horizontalmente */
  justify-content: center;
  align-items: center;
  height: 75vh; /* Asegura que el container ocupe toda la altura de la pantalla */
  padding: 50px;
  margin-top: 50px;
}

.lt-code{
  font-size: 40px;
  color: rgb(255, 253, 253);
  text-shadow:20px rgb(49, 49, 49);
  position: relative;
  bottom: 30px;
 

}
.password-input{
  margin:2px;
}
#tPassword{
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 80%;
  position:relative ;
  left: 10%;
  bottom: 30px;
  z-index: 2;
  cursor: pointer;
}
.message-code{
  color: rgb(243, 7, 7);
  position: relative;
  bottom: 25px;
  font-size: 20px;
  text-shadow:0px -2px black;
}

#eyePassword{
  background-color:rgb(255, 255, 255);
  cursor:pointer;
  position: relative;
  z-index: 2;
  bottom:75px;
  left: 273px;

}




.vote-code{
  padding: 30px;
  position: relative;
  top: 12px;
}




.sent-code {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
 }
 
 .sent-code:hover {
  background-color: #374151;
 }
 
 .sent-code:focus {
  box-shadow: none;
  outline: 2px solid white;
  outline-offset: 2px;
 }
 
 @media (min-width: 768px) {
  .sent-code {
   padding: .75rem 1.5rem;
  }
 }




@media screen and (max-width: 1371px) {

  .img-card-vote{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    

}
.contain{
  margin-top: -130px;
  
}


}

@media screen and (max-width: 1178px) {
  .contain{
    margin-top: -100px;
    
  }
  

  .code-vote {
    width: 700px;
  }
  
  #eyePassword{
    left: 275px;
  }
  
}

@media screen and (max-width: 1042px) {
  .img-card-vote{
    width: 150px;
    height: 150px;
    

}
#eyePassword{
  left: 275px;
}


}
@media screen and (max-width: 873px) {
  .contain{
    margin-top: 40px;
    
  }
  #eyePassword{
    left: 275px;
  }


}



      @media screen and (max-width: 764px) {
        .wave {
          width: 100%;
          margin: 0 auto;
          display: flex; 
          background-size: cover;
        }
        .contain{
          margin-top: 80px;
          
        }
        .img-card-vote{
  
          width: 150px;
          height: 150px;
          
      
      }
      .code-vote {
        width: 500px;
      }
      #tPassword{
        width: 300px;
        left: 70px;

      }
      #eyePassword{
        left: 210px;
        bottom:75px;
      }
    
    }


    