.container-login{
   margin: 30vh auto;
   width: 400px;
   border-radius:50px;
   background-color:white;
   padding: 50px;

}
.container-login:hover{
   box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.157);

}

.fm-text{
   text-align: center;
   font-size:40px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#form5,#form6{
   border-radius: 30px;
   border-color: #1d1c1c17;

}

#form5:hover,#form6:hover{
   box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.094);

}
.icon-eye{
   width: 20px;
}
#togglePassword{
   opacity: 80%;
   position: relative;
   left: 270px;
   bottom:30px;
}