.not-vote-img{
    width: 400px;
    position: relative;
    top: 60px;
    left: 35%;
}

.not-vote-title{
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
 
}

.lt-vote-title{
    text-align: center;
    position: relative;
    left: 25%;
    
}

.text-not-vote{
    background-color: rgba(140, 0, 255, 0.069);
    display: flexbox;
    border-radius: 30px;
    max-width: 400px;
    position: relative;
    left: 35%;
    top: -50px;
}

.btn-not-vote {
    color: purple;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid purple;
    top: 70px;
    right: 30px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  
  .btn-not-vote:hover {
    color: white;
  }
  
  .btn-not-vote::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn-not-vote:hover::before {
    width: 160%;
  }

@media screen and (max-width: 634px) {
    .not-vote-img{
        left: 10%;


    }   
    .text-not-vote{
        left: 10%;
    }

}
