/* menu lateral */
.full-imgback{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 1px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1455' height='1295' preserveAspectRatio='none' viewBox='0 0 1455 1295'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1510%26quot%3b)' fill='none'%3e%3cpath d='M168 1295L1463 0L2472.5 0L1177.5 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1511%26quot%3b)'%3e%3c/path%3e%3cpath d='M1446 1295L151 0L-747.5 0L547.5 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1512%26quot%3b)'%3e%3c/path%3e%3cpath d='M313.2622560858838 1295L1455 153.2622560858838L1455 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1511%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 1295L1141.7377439141162 1295L 0 153.2622560858838z' fill='url(%26quot%3b%23SvgjsLinearGradient1512%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1510'%3e%3crect width='1455' height='1295' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1511'%3e%3cstop stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1512'%3e%3cstop stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}


.sidebar {
  position: relative;
  top:40px;
  width: 250px;
  height: 100px;
  padding: 30px 10px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1455' height='1295' preserveAspectRatio='none' viewBox='0 0 1455 1295'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1510%26quot%3b)' fill='none'%3e%3cpath d='M168 1295L1463 0L2472.5 0L1177.5 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1511%26quot%3b)'%3e%3c/path%3e%3cpath d='M1446 1295L151 0L-747.5 0L547.5 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1512%26quot%3b)'%3e%3c/path%3e%3cpath d='M313.2622560858838 1295L1455 153.2622560858838L1455 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1511%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 1295L1141.7377439141162 1295L 0 153.2622560858838z' fill='url(%26quot%3b%23SvgjsLinearGradient1512%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1510'%3e%3crect width='1455' height='1295' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1511'%3e%3cstop stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1512'%3e%3cstop stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.238);
  margin-left:-10px;
  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  text-decoration: none;
  color: black;
}

.pf-menu {
  margin-top: 80px;
}

.fp-file {
  width: 50px;
}
.pf-li:hover{
  width: 200px;
  border-radius: 30px;
  background-color: rgba(53, 58, 63, 0.065);
  transform: translateX(30px); /* Define la cantidad y dirección del desplazamiento */


}
.name-menu{
  color: #fff;
}

/* Fin menu lateral */

.fr-name,
.fr-description,
.fr-image,
.vote-options
{
display:none;
}

.btn-new {
  position: relative;
  margin: 0;
  padding: 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 170px;
  margin: 17vh 50vh;
}

.btn-new:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.btn-new:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.btn-new::before,
.btn-new::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.btn-new:hover::before,
.btn-new:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-new:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.btn-new:hover::after {
  transform: translate(50%, 0) scale(1.1);
}


#btn-cancel{
 display: none;
}
/*Form-survey*/

/*survey Name*/
.name-vote{
font-size: 40px;
width: 300px;

}
.fr-name {
  margin:30%  30%;
}
#btn-next{
  margin-top: 20px;
}


.fr-name {
  position: relative;
}
/*Button next*/
.next {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
}

.next:hover {
  background: transparent;
}

.next> svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.next:hover svg {
  transform: translateX(5px);
}

.next:active {
  transform: scale(0.95);
}



/**/
/*Description*/
.fr-description{
  margin:40vh auto;
  width: 600px;
}

.name-description{
  font-size: 40px;
}
/**/
.next-description {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.next-description:hover {
  background: transparent;
}

.next-description> svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.next-description:hover svg {
  transform: translateX(5px);
}

.next-description:active {
  transform: scale(0.95);
}


.fr-image{
  width: 500px;
 
  margin:40vh auto;
}
.name-img{
  font-size: 40px;
}

.next-img{
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.next-img:hover {
  background: transparent;
}

.next-img> svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.next-img:hover svg {
  transform: translateX(5px);
}

.next-img:active {
  transform: scale(0.95);
}

.vote-options{
  margin: 30vh auto;
  width: 600px;
}
.name-options{
  font-size: 40px;
}
.fr-voting{
padding-bottom: 20px;
}

#add-option-btn{
  margin-top: -80vh;
  margin-left: 74%;
  border: 2px solid #000000;
  background-color:transparent;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  

 }
 
 #add-option-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 600;
 }
 
 #add-option-btn:hover {
  background-color:transparent;
 }
#btn-save{
  
  margin-left:45%;
  
  margin-top:-20px;
}
/* Media Query para pantallas grandes */
@media screen and (min-width: 1100px) {
  .container {
    width: auto;
    margin: 0 auto;
  }

  .sidebar {
    height: 800px;
    margin-top: 0;
  }

  .form-container {
    max-width: 800px;
  }
  .pf-menu{
    margin-top: 150px;
  }


  .btn-new {
    margin: 20vh 80vh;
  }

      /*survey Name*/
.name-vote{
  font-size: 40px;
  width: 300px;

}
.fr-name{
margin-top:20% ;
margin-left: 60vh;
}
#btn-next{
  margin-top: 20px;
}

}

@media screen and (min-width:900px) {
  .container {
    width: auto;
    margin: 0 auto;
  }

  .sidebar {
    height: 800px;
    margin-top: 0;
  }

  .form-container {
    max-width: 800px;
  }
  .pf-menu{
    margin-top: 150px;
  }


  .btn-new {
    margin: 20vh 80vh;
  }
    /*survey Name*/
.name-vote{
  font-size: 40px;
  width: 300px;

}
.fr-name{
margin-top:20% ;
margin-top: 40vh;
}
#btn-next{
  margin-top: 20px;
}

}

/* Media Query para pantallas pequeñas */
@media screen and (max-width: 634px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 250px;
    height: 800px;
    margin-top: 10px;
  }
  .pf-li:hover{
    transform: translateX(3px);
    background-color: transparent;
    cursor: pointer;

  }
  .name-menu{
    display:none}

  .fp-file{
    width: 50px;
  }
  .form-container {
    margin: 10vh 0;
  }
  .pf-menu{
    margin-top: 150px;
  }

  .btn-new {
    position: relative;
    right: 50%;
  }

  /*survey Name*/
.name-vote{
  font-size: 40px;
  width: 300px;

}
.fr-name{
margin:5% ;
margin-top: 40vh;
}
#btn-next{
  margin-top: 20px;
}

/**/
/*Description*/
.fr-description{
  margin:40vh auto;
  width: 400px;
}

.name-description{
  font-size: 40px;
}
.next-description {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.next-description:hover {
  background: transparent;
}

.next-description> svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.next-description:hover svg {
  transform: translateX(5px);
}

.next-description:active {
  transform: scale(0.95);
}

.fr-image{
  width: 470px;
  margin:40vh auto;
}
.name-img{
  font-size: 40px;
}
.vote-options{
  margin: 30vh 10%;
  width: 400px;
}
.name-options{
  font-size: 40px;
}
#btn-save{
  
  margin-left:73%;
  width: 140px;
  margin-top:-25px;
}

/**/

}
