
.icon-plus {
  width: 30px;
}
.container-box {
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px;
  background-color: rgba(63, 17, 231, 0.336);
  border-radius: 30px;
  width: 600px;
  height: 100px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.14);

}
/*Lo deje aca */
.vote-full{
 height: 40px;
 margin-top: 7px;

}
.container-box:nth-child(2n) {
  background-color: rgba(63, 17, 231, 0.336);

  width: 600px;
  height: 100px;

}
.container-box:hover{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.456);

}

.cnt-box {
  position: relative;
  top: -670px;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 600px;
  margin-bottom: -10px;
  padding: auto;
  
}
/* Estilos para los contenedores de votación */
.vote-container {
  display: flex;
  align-items: center;
}

.img-vote {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}

.card-title {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.no-image {
  margin-left: 10px;
}

/* Estilos para los botones */
.delete {
  width: 20px;
}

.btn-delete {
  background-color: transparent;
  border: none;
  padding: 2px;
  margin-top: 2px;
}

.Btn-edit {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 16px;
  border: none;
  padding: 0px 3px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.Btn-closed {
  position: relative;
  border: none;
  padding: 3px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.svg-close {
  width: 25px;
}

.svg-edit {
  width: 25px;
  position: relative;
  top: 12px;
  left: -20px;


}

.ic-btn{
font-size: 12px;
margin-top: 40px;

}
.ic-edit{
  margin-top: -20px;
}

  .botons{
    position: relative;
    top: -70px;
    left: -10px;
    display: flex;
    float: right;
    width: 150px;
    
    
  
  }
  
  
  





.pagination-container{
  margin:  -5% 74%;
  transform: translateY(-100px);
  display: flex;
  padding: 10px;
  

}

.btn-pagination{
  height: 40px;
  width: 400px;
  border-radius: 30px;
  border-color: transparent;
  background-color: rgba(102, 100, 100, 0.04);
  margin-right: 5px;
  color:black


  
}
.btn-pagination:hover{
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.14);
background-color: rgba(102, 100, 100, 0.096);

}
.nav-fixed-vt{
  position: fixed;
  width: 100%;
}


.voting-empty{
  position: absolute;
  top: 400px;
  left: 50%;
}

@media screen and (max-width:918px) {
  .container {
    width: auto;
    margin: 0 auto;
  }

  .sidebar {
    height: 800px;
    margin-top: 0;
  }

  .form-container {
    max-width: 800px;
  }
  .pf-menu{
    margin-top: 150px;
  }


  .btn-new {
    margin: 20vh 80vh;
  }
    /*survey Name*/
.name-vote{
  font-size: 40px;
  width: 300px;

}
.fr-name{
margin-top:20% ;
margin-top: 40vh;
}
#btn-next{
  margin-top: 20px;
}

.container-box {
  margin-top: 15px;
  padding: 5px;
  border-radius: 30px;
  width: 390px;
  height: 100px;
}

.container-box:nth-child(2n) {
  background-color: rgba(63, 17, 231, 0.336);

  width: 600px;
  height: 100px;

}
.container-box:hover{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.456);

}

.cnt-box {
  position: relative;
  top: -670px;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 600px;
}


}



@media (max-width: 790px) {
  .full-imgback{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 6px;

  }
    
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 150px;
    height: 800px;
    margin-top: 10px;
  }

  .form-container {
    margin: 10vh 0;
  }
  .pf-menu{
    margin-top: 150px;
  }

  .btn-new {
    margin: 20vh 35vh ;
  }



.container-box {
  margin: 0 auto;
  margin-top: 15px;
  padding: 6px;
  background-color: rgba(63, 17, 231, 0.336);
  border-radius: 30px;
  width: 345px;
  height: 100px;
}

.container-box:nth-child(2n) {
  background-color: rgba(63, 17, 231, 0.336);

  width: 600px;
  height: 100px;

}
.container-box:hover{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.456);


}

.cnt-box {
  position: relative;
  top: -670px;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 350px;
}
.card-title{
  position: relative;
  left: -13px;
  font-size: 14px;
  display: flex;
  width: 200px;
  

}


.name-menu{
  display: none;
}

.btn-delete {
  background-color: transparent;
  border: none;
}

.Btn-edit {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 16px;
  border: none;
  padding: 0px 3px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.Btn-closed {
  position: relative;
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  z-index: 1;
  margin-top: -120px;
  padding: 10px;
  height: 5px;
  

}

.svg-close {
  width: 20px;
  position: relative;
  top: 3px;
  left: 5px;
}

.svg-edit{
  width: 20px;
  position: relative;
  top:15px;
}
.ic-close , .ic-edit{
  position: relative;
  top: 3px;
}
.botons{
  position: relative;
  top: -60px;
  left: -10px;
  display: flex;
  float: right;
  width: 150px;
  
  

}

.pagination-container{
  margin:  -3% 74%;
  transform: translateY(-100px);
  display: flex;
  padding: 10px;
  

}
.nav-fixed-vt{
  margin-top:-8px;
}
.vote-full{
  height: 40px;
  margin-top: 2px;
 
 }
 
}