
.full-imgback{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 6px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1455' height='1295' preserveAspectRatio='none' viewBox='0 0 1455 1295'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1510%26quot%3b)' fill='none'%3e%3cpath d='M168 1295L1463 0L2472.5 0L1177.5 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1511%26quot%3b)'%3e%3c/path%3e%3cpath d='M1446 1295L151 0L-747.5 0L547.5 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1512%26quot%3b)'%3e%3c/path%3e%3cpath d='M313.2622560858838 1295L1455 153.2622560858838L1455 1295z' fill='url(%26quot%3b%23SvgjsLinearGradient1511%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 1295L1141.7377439141162 1295L 0 153.2622560858838z' fill='url(%26quot%3b%23SvgjsLinearGradient1512%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1510'%3e%3crect width='1455' height='1295' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1511'%3e%3cstop stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1512'%3e%3cstop stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(18%2c 12%2c 177%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }
  
.full-container-edit {
    margin: 10vh auto;
    max-width: 700px;
    width: 90%;
}

.survey-name-edit{
    display: flex;
 

}

.file-img{
    margin-bottom: 20px;
    display: flex;
}

/*Vista previa votacion*/
.cr-view-survey{   
  background-color: rgba(63, 17, 231, 0.239);
  border-radius: 30px;
  width: 800px;
  padding:40px;
  margin: 30rem auto;
}

.img-vote-view{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.566);
}
.img-options{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin:30px;

}
.sl-nw-image{
    display: flex;

}
.cr-view-options{

    display: flexbox;
    font-family: system-ui;
}

.cr-icon{
    width: 20px;
}
#btn-remove{
    margin-bottom: 30px;
}

.nav-fixed-edit{
 position: fixed;
 width: 100%;
 margin-top: -80px ;
}