
    .fr-name-new {
        position: fixed;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
      }


      .fr-code{
        margin-top: 20px;
      }
@media screen and (max-width: 634px) {

      
        .nav-fixed-ns{
            margin-top: 2px;
        }
}
