{% extends "wishes/layout.html" %}
{% load static %}
{% block body %}
<div class="nav-fixed">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Ivote</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'new_survey' user_id=user.id %}">  + Create a new Survey <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  href="{% url 'profile' user_id=user.id %}">Profile</a>
            <a class="dropdown-item"  href="{% url 'new_survey' user_id=user.id %}">Create new survey</a>
            <a class="dropdown-item"  href="{% url 'vote' %}">Dashboard</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
      </ul>
  </nav>
  
</div>

  <div class="search-container">
    <form action="{% url 'inprogress' %}" method="GET">

        <svg class="icon-search" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
      <input class="input-search"type="text" name="search"  placeholder="Search" >
    </form>

    
  </div>


  
  
  <h1 class="exp">Explore</h1>

<div class="ct-full">

    <div class="ip-container">


      

        {% if allvote %}
            {% for vote in allvote %}
                <div class="items">
                    {% if vote.status == 'closed' %}
                        <div class="it-close">
                            {% if vote.imageVote %}
                                <img class="ip-img-close" src="{{ vote.imageVote.url }}" alt="imageVote">

                            {% else %}
                                <img class="ip-img-close" src="/media/default.png" alt="Default Image">

                            {% endif %}
            
                            <h2 class="nm-vote-close">{{ vote.nameVote }}</h2>
                            <h6 class="vt-close">Closed </h6>

                            <a class="nm-vote-winner"href="{% url 'more_votes' vote.id %}" >See results</a>
                        </div>
                    {% else %}
                        <div class="detail-container">
                            <a href="{% url 'description' vote.id %}">
                                {% if vote.imageVote %}
                                    <img class="ip-img" src="{{ vote.get_image_url }}" alt="imageVote">
                                {% else %}
                                    <img class="ip-img" src="/media/default.png" alt="Default Image">
                                    
                                {% endif %}
                                <h2 class="nm-vote">{{ vote.nameVote }}</h2>
                            </a>
                            
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
        <div class="not-survey-container">
            <h1 class="not-survey">Not Survey available</h1>
            <div class="botton-ns">
            <button class="button-refresh-ns">
              <a class="name-notsuvey" href="{% url 'new_survey' user_id=user.id %}">

              <span class="cns">+ Create New Survey</span>
            </button>
          </a>
          <a href="{% url 'inprogress' %}">
            <button class="button-refresh" type="button">
              <svg   viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                <path d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" fill-rule="evenodd"></path>
              </svg>
              Refresh
            </button>
          </div>
          </a>
        </div>
      {% endif %}
    </div>
    </div>  
<script>
    var menu = document.getElementById("menu-icon-1");
    var items = document.querySelectorAll(".manu-items");
    var isMenuOpen = false;
    
    menu.addEventListener("click", function() {
      if (isMenuOpen) {
        items.forEach(function(item) {
          item.style.display = "none";
        });
      } else {
        items.forEach(function(item) {
          item.style.display = "block";
        });
      }
    
      isMenuOpen = !isMenuOpen;
    });
    
    
</script>
{% endblock %}
