{% extends "wishes/layout.html" %}
{% load static %}
{% block body %}
<div class="cn-form">

  <div class="container-login">
       {% if message %}
           <div class="mg-color">{{ message }}</div>
       {% endif %}
          <h5 class="fm-text">Log in </h5>
   <hr class="hr-color">
       <form action="{% url 'login' %}" method="post">
           {% csrf_token %}
           <div class="forml">
               <input id="form5" autofocus class="form-control"   type="text" name="username" placeholder="Username">
           </div>
           <br>
           <div class="forml">
            <div class="password-input-wrapper">
                <input id="form6" class="form-control" type="password" name="password" placeholder="Password">
                <i id="togglePassword" class="far fa-eye"></i>
            </div>
        </div>
        
           <br>
                       
           <button class="button-register" type="submit">
            Log in
          </button>

       </form>
    <div class="fm-text1">
     <span class="fm-text1">Don't have an account?</span> <a href="{% url 'register' %}"> Register here.</a>
       </div>
    </div>
</div>
</div>
<script>
const togglePassword = document.getElementById("togglePassword");
const passwordInput = document.getElementById("form6");

togglePassword.addEventListener("click", function() {
const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
    passwordInput.setAttribute("type", type);

    togglePassword.classList.toggle("fa-eye-slash");
});

</script>

{% endblock %}
